
# Локальная айпишка
SITE_ADDRESS=192.168.1.1

# Физическое местонахождение файла БД
DB_NAME=/data/inventory.db

# Ключ шифрования для Android 
AES_KEY=AES_KEY

# LDAP-настройки
LDAP_SERVER=ldap://dc.domain.example
DOMAIN=DOMAIN
SERVICE_USER=SERVICE_USER@domain.internal
SERVICE_PASSWORD=SERVICE_PASSWORD
LDAP_SEARCH_BASE=DC=domain,DC=internal
GROUP_DN=CN=CN,OU=OU,DC=domain,DC=internal

# Локальный встроенный пользователь
SYSMASTER_USERNAME=SYSMASTER_USERNAME
SYSMASTER_PASSWORD=SYSMASTER_PASSWORD

# Учетка на почтовом сервере
SMTP_SERVER=SMTP_SERVER
SMTP_PORT=SMTP_PORT
EMAIL_ADDRESS=EMAIL_ADDRESS@domain.ru
EMAIL_PASSWORD=EMAIL_PASSWORD
